/***BASE STYLES**/
h1,h2,a{
    font-family: 'Courier Prime', monospace;
}
h3,h4,p{
    font-family: 'Josefin Sans', sans-serif;
}
h1,h2,h3,h4,p,a{
    color:#000000;

}
.container{
    background:#ffffff;
}
section{
    background: rgb(255,255,255);
    -webkit-background: linear-gradient( rgba(255,255,255,1) 0%, rgba(214,214,214,1) 15%, rgba(187,187,187,1) 30%, rgba(126,126,126,1) 55%, rgba(108,108,108,1) 77%, rgba(55,55,55,1) 100%);
    -o-background: linear-gradient( rgba(255,255,255,1) 0%, rgba(214,214,214,1) 15%, rgba(187,187,187,1) 30%, rgba(126,126,126,1) 55%, rgba(108,108,108,1) 77%, rgba(55,55,55,1) 100%);
    -moz-background: linear-gradient( rgba(255,255,255,1) 0%, rgba(214,214,214,1) 15%, rgba(187,187,187,1) 30%, rgba(126,126,126,1) 55%, rgba(108,108,108,1) 77%, rgba(55,55,55,1) 100%);
    background: linear-gradient( rgba(255,255,255,1) 0%, rgba(214,214,214,1) 15%, rgba(187,187,187,1) 30%, rgba(126,126,126,1) 55%, rgba(108,108,108,1) 77%, rgba(55,55,55,1) 100%);
}
/**GRID***/
html{
    margin:0;
}
.container{
    margin:0;
}

.full-width{
    width:1400px;
    margin: 0 auto;
}
.half-width{
    width:700px;
}
#images{
    float:left; 
    margin: 25px 0 25px 0;
}
#descriptions{
    float:right;
    margin: 0 0 25px 0;
}
.third-width{
    width:300px;
    display:inline-block;
    float:left;
}

/***HEADER***/
header{
    background: url("../img/header.png") no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
#header{
    height:850px;
}

header h1 {
	float: left;
	margin: 0 5%;
    padding: 38px 0;
    font-size:30px;
}
header nav {
    float: right;
    margin-right:5%;
    padding: 44px 0;
}
header nav ul {
	margin: 0;
    padding: 0;
}
header nav ul li {
    text-transform:capitalize;
    text-align:center;
	font-weight: 700;
	font-size: 20px;
	padding: 0 13px;
    display: inline;
}
header nav ul li a{
    text-decoration:none;
}
/***PORTFOLIO****/
#portfolio{
    padding:15px 0;
    height:1000px;
}
#portfolio h2{
    text-align: center;

}
#portfolio p{
    font-size:20px;
    width:550px;
}
#portfolio img{
    width:500px;
    margin-left:10px;
    -webkit-filter:grayscale(100%);
    -o-filter:grayscale(100%);
    -moz-filter:grayscale(100%);
    filter:grayscale(100%);
}
#portfolio img:hover{
    -webkit-filter:none;
    -o-filter:none;
    -moz-filter:none;
    filter:none;
}
#rogue{
    margin-top: 75px;
}
#jubilee{
    margin-top:125px;
}
#first-portfolio{
    margin-top:100px;
}


/***about***/
#about{
    clear: both;
    padding:45px 0;
    height:600px;
}
#about h2{
    text-align:center;
}
#about h3{
    font-size:24px;
}
#about p{
    font-size:20px;
    line-height:22px;
}
#more-about-me{
    float:left;
    padding-top:100px;
    padding-left:50px;
}
#contact-img{
    float:right;
    width:500px;
    padding-top:25px;
    padding-left:50px;
}


/***contact***/

#contact{
    clear:both;
    padding-top:2%;
    height:350px;

}
#contact .third-width{
    margin:25px 0 0 150px;
    padding: 0 0 0 25px;
}
#contact{
    background-image:url("../img/contact.png");
    background-size:cover;
    background-repeat: no-repeat;
   
}
.connect{
    color:#ffffff; 
}
#contact h2{
    text-align:center;

}
#contact h3{
    font-size:22px;
    
}
#icons{
    padding-top:20px;
}
#contact a{
    padding: 0 100px 0 0;
}
#contact a :nth-child(1){
    margin-left:-50px;
}
#contact p{
    font-size:18px
}
#contact a{
    font-size:18px;
    text-decoration:none;
}
#copyright{
    clear:both;
    color:#000000;
    text-align: center;
    font-size:16px;
}
  

